# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# compiled output
# /dist
**/node_modules/*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dependencies
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# СВОЁ пока не нужное 
# папка временных/пока не нужных файлов. для игнора и случайно залитых
vr/
.env
# dtos/
# dist/

# js
# src/scripts/*

# scss
# src/styles/all.scss

# помошники
GitHub Команды.txt
info.txt
infoMy.txt
webpack*

# настройки
.vscode

# врем.откл.
# server
**/env.validation.ts
**/auth/*

# исключения
# папки 
!/**/src/common/decorators/
!/**/src/config/envs/
# ф.
!/**/src/config/envs/env.consts.ts